.c-pointer {
  cursor: pointer !important;
}

.loading {
  color: #f59f00;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  position: fixed;
  top: 2.4rem;
  right: 2.4rem;
  font-size: 2rem;
}

.header-section {
  width: 100%;
  height: 100vh;
  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  text-align: center;
}

.header-img {
  height: 20rem;
}

.films-dropdown {
  width: 50rem;
  max-width: 80%;
  margin: auto;
  font-size: 1.8rem;
  font-family: inherit;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: #ffec99;

  position: relative;
}

.films-dropdown-icon {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.films-dropdown-active {
  border: 1px solid #ffec99;
  padding: 1.2rem;
  padding-left: 1.6rem;
}

.films-dropdown-selected {
  text-align: left;
}

.films-dropdown-menu {
  list-style: none;
  width: 100%;
  height: 20rem;
  overflow-y: scroll;

  display: none;

  position: absolute;
  left: 0;
  top: 100%;
}

.films-dropdown-menu::-webkit-scrollbar {
  display: none;
}

.films-dropdown:hover .films-dropdown-menu {
  display: block;
}

.films-dropdown-menu-item {
  padding: 1.2rem 1.6rem;
  text-align: left;
  background-color: #ffec99;
  color: #e67700;
  border-bottom: 2px solid #f59f00;
}

.films-dropdown-menu-item:hover {
  background-color: #ffe066;
}

.main-section {
  max-width: 130rem;
  margin: auto;
  padding: 9.6rem 0;

  display: grid;
  grid-template-columns: 30fr 70fr;
  gap: 4.8rem;
}

.film-title {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.film-opening-crawl {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  text-align: justify;
}

.film-extra {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.film-extra-item {
  font-size: 1.4rem;
}

.film-extra-item span {
  font-weight: 700;
}

.table-heading {
  text-align: center !important;
  font-size: 1.8rem;
}

.table {
  width: 100%;
  border: 1px solid #eee;
  border-collapse: collapse;
  font-size: 1.2rem;
}

.table tr {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.table tr:nth-child(even) {
  background-color: rgba(238, 238, 238, 0.462);
}

.table th,
.table td {
  padding: 1.2rem;
  text-align: left;
}

.table-name-header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.filter {
  text-align: right;
  margin-bottom: 2.4rem;
}

.gender-select {
  border: 1px solid #eee;
  padding: 6px;
  outline: none;
  font-family: inherit;
}
