@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Chakra Petch", sans-serif;
  color: #777;
  line-height: 1.7;
  font-weight: 400;

  box-sizing: border-box;
}
